<!-- <app-comp></app-comp>
<app-binding></app-binding>
<app-directive1></app-directive1>
<app-new [human]="data"></app-new> -->
<!-- <h1>This is Conditions</h1>
<h2 *ngIf="show else elseBlock">
Eligible for vote</h2>
<ng-template #elseBlock>
<h3>Not Eligible</h3>
</ng-template> 
<h2 *ngIf="show then ifblock else elseblock">
    ITs true
</h2>
<ng-template #ifblock>
    <h2>If block</h2>
</ng-template>
<ng-template #elseblock>
    <h2>ITs false</h2>
</ng-template> -->
<!-- <div [ngSwitch]="color">
    <h2 *ngSwitchCase="'red'" style="color: red;">red text</h2>
    <h2 *ngSwitchCase="'blue'" style="color: blue;">blue text</h2>
    <h2></h2>
</div> -->
<!-- <form [formGroup]="loginform" (ngsubmit)="collect()">
<input type="text" name="username" formControlName="username" placeholder="Enter name"><br><br>
<input type="password" name="password" formControlName="password" placeholder="Enter password"><br><br>
<button>Submit</button>
</form> -->
<!-- <app-footer></app-footer> -->
<h1 appDct>{{title|uppercase}}</h1>
<h3>{{TodaysDate|date:'long'}}</h3>
 <!-- <ul>
    <li *ngFor="let user of users">
  {{user.name}}:{{user.age}}
    </li> 
</ul> -->

