<p>binding works!</p>
<div [ngSwitch]="todaysDay">
    <!-- <h4 *ngSwitchCase="'Sunday'">Today is Sunday</h4>
    <h4 *ngSwitchCase="'Monday'">Today is Monday</h4>
    <h4 *ngSwitchCase="'Tuesday'">Today is Tuesday</h4>
    <h4 *ngSwitchCase="'Wednesday'">Today is Wednesday</h4>
    <h4 *ngSwitchCase="'Thursday'">Today is Thursday</h4>
    <h4 *ngSwitchCase="'Friday'">Today is Friday</h4>
    <h4 *ngSwitchCase="'Saturday'">Today is Saturday</h4>
    <h4 *ngSwitchDefault>No Match Found</h4> -->
    <!-- <h4 *ngIf="todaysDay=='Sunday'">today is Sunday</h4>
    <h4 *ngIf="todaysDay=='Monday'">today is Monday</h4>
    <h4 *ngIf="todaysDay=='Tuesday'">today is Tuesday</h4>
    <h4 *ngIf="todaysDay=='Wednesday'">today is Wednesday</h4>
    <h4 *ngIf="todaysDay=='Thursday'">today is thursday</h4>
    <h4 *ngIf="todaysDay=='Friday'">today is friday</h4>
    <h4 *ngIf="todaysDay=='Saturday'">today is Saturday</h4> -->

    <!-- <ul>
        <li *ngFor="let item of listOfTech;let i=index">{{i+1}}   &nbsp; {{item}}</li>
    </ul> -->
    
    
</div>